pushi 0
storeg 0
pushi 0
storeg 1
pushi 0
storeg 2
pushi 0
storeg 3
start
pushs "Atribuindo valores ao array:"
writes
writeln
pushi 2
storeg 1
pushi 6
storeg 2
FOR1:
pushg 1
pushg 2
sup
jnz ENDFOR0
pushg 1
pushi 2
mul
pushs "numeros["
writes
pushg 1
writei
pushs "] = "
writes
pushg 1
writei
writeln
pushg 1
pushi 1
add
storeg 1
jump FOR1
ENDFOR0:
pushs "Imprimindo valores do array de trás para frente:"
writes
writeln
pushi 4
storeg 1
pushi 0
storeg 3
FOR3:
pushg 1
pushg 3
inf
jnz ENDFOR2
pushs "numeros["
writes
pushg 1
writei
pushs "] = "
writes
pushg 1
writei
writeln
pushg 1
pushi -1
add
storeg 1
jump FOR3
ENDFOR2:
stop
stop
