pushi 0
storeg 0
pushi 0
storeg 1
pushi 0
storeg 2
start
pushs "Introduza um número inteiro positivo:"
writes
writeln
read
atoi
storeg 0
pushi 1
storeg 2
pushi 2
storeg 1
pushg 1
pushg 0
pushi 2
div
infeq
pushg 2
and
pushg 0
pushg 1
mod
pushi 0
equal
pushi 0
storeg 2
pushg 1
pushi 1
add
storeg 1
pushg 2
pushg 0
writei
pushs " é um número primo"
writes
writeln
pushg 0
writei
pushs " não é um número primo"
writes
writeln
stop
