pushi 5
allocn
storeg 0
pushst 0
pushi 0
store 0
pushst 0
pushi 0
store 1
pushst 0
pushi 0
store 2
pushst 0
pushi 0
store 3
pushst 0
pushi 0
store 4
pushi 0
storeg 1
pushi 0
storeg 2
pushi 0
storeg 3
start
pushi 0
storeg 2
pushs "Introduza 5 números inteiros:"
writes
writeln
pushi 1
storeg 1
pushi 5
storeg 3
FOR1:
pushg 1
pushg 3
sup
not
jz ENDFOR0
pushst 0
pushg 1
pushi 1
sub
read
atoi
storen
pushg 2
pushst 0
pushg 1
pushi 1
sub
loadn
add
storeg 2
pushg 1
pushi 1
add
storeg 1
jump FOR1
ENDFOR0:
pushs "A soma dos números é: "
writes
pushg 2
writei
writeln
stop
