pushi 5
allocn
storeg 0
pushst 0
pushi 0
store 0
pushst 0
pushi 0
store 1
pushst 0
pushi 0
store 2
pushst 0
pushi 0
store 3
pushst 0
pushi 0
store 4
pushi 0
storeg 1
pushi 0
storeg 2
pushi 0
storeg 3
start
pushs "Introduza 5 números:"
writes
writeln
pushi 1
storeg 1
pushi 5
storeg 2
FOR1:
pushg 1
pushg 2
sup
not
jz ENDFOR0
pushst 0
pushg 1
pushi 1
sub
read
atoi
storen
pushg 1
pushi 1
add
storeg 1
jump FOR1
ENDFOR0:
pushs "Em ordem inversa:"
writes
writeln
pushi 5
storeg 1
pushi 1
storeg 3
FOR3:
pushg 1
pushg 3
inf
not
jz ENDFOR2
pushst 0
pushg 1
pushi 1
sub
loadn
writei
writeln
pushg 1
pushi -1
add
storeg 1
jump FOR3
ENDFOR2:
stop
