// inicio declaracao da variavel "a"
pushi 0
storeg 0
// fim declaracao da variavel "a"
// inicio declaracao da variavel "b"
pushi 0
storeg 1
// fim declaracao da variavel "b"
// inicio declaracao da variavel "c"
pushi 0
storeg 2
// fim declaracao da variavel "c"
// inicio declaracao da variavel "media"
pushi 0
storeg 3
// fim declaracao da variavel "media"
start
pushs "Introduza três números:"
writes
writeln
read
atoi
storeg 0
read
atoi
storeg 1
read
atoi
storeg 2
pushg 0
pushg 1
add
pushg 2
add
pushi 3
div
storeg 3
pushs "A média é: "
writes
pushg 3
writei
writeln
stop
