pushi 0
storeg 0
pushi 0
storeg 1
pushi 0
storeg 2
pushi 0
storeg 3
pushi 0
storeg 4
pushi 0
storeg 5
start
pushs "Quantos números vais inserir?"
writes
writeln
read
atoi
storeg 1
pushg 1
pushi 1
infeq
jz ELSE0
pushs "Sequência está ordenada por definição."
writes
writeln
stop
jump ENDIF1
ELSE0:
ENDIF1:
pushi 1
storeg 4
pushs "Número 1:"
writes
writeln
read
atoi
storeg 3
pushi 2
storeg 0
pushg 1
storeg 5
FOR3:
pushg 0
pushg 5
sup
not
jz ENDFOR2
pushs "Número "
writes
pushg 0
writei
pushs ":"
writes
writeln
read
atoi
storeg 2
pushg 2
pushg 3
inf
jz ELSE4
pushi 0
storeg 4
jump ENDIF5
ELSE4:
ENDIF5:
pushg 2
storeg 3
pushg 0
pushi 1
add
storeg 0
jump FOR3
ENDFOR2:
pushg 4
jz ELSE6
pushs "A sequência está ordenada!"
writes
writeln
jump ENDIF7
ELSE6:
pushs "A sequência não está ordenada."
writes
writeln
ENDIF7:
stop
