PROGRAM NumeroPrimo
PUSH "Introduza um número inteiro positivo:"
PRINT
PRINTLN
READ
STORE 0 # num
LOAD 0 # num
PUSH 2
LT
JZ L0 # Se falso, pula para o false_label
PUSH 0
STORE 1 # primo
JMP L1
L0:
PUSH 1
STORE 1 # primo
PUSH 2
STORE 2 # i
L2:
LOAD 2 # i
LOAD 0 # num
PUSH 2
IDIV
LE
LOAD 1 # primo
AND
JZ L3 # Se falso, pula para o fim do laço
LOAD 0 # num
LOAD 2 # i
MOD
PUSH 0
EQ
JZ L4 # Se falso, pula para o false_label
PUSH 0
STORE 1 # primo
JMP L5
L4:
L5:
LOAD 2 # i
PUSH 1
ADD
STORE 2 # i
JMP L2
L3:
L1:
LOAD 1 # primo
JZ L6 # Se falso, pula para o false_label
LOAD 0 # num
PRINT
PUSH " é um número primo"
PRINT
PRINTLN
JMP L7
L6:
LOAD 0 # num
PRINT
PUSH " não é um número primo"
PRINT
PRINTLN
L7:
HALT
