// inicio declaracao da variavel "a"
pushi 0
storeg 0
// fim declaracao da variavel "a"
// inicio declaracao da variavel "b"
pushi 0
storeg 1
// fim declaracao da variavel "b"
// inicio declaracao da variavel "c"
pushi 0
storeg 2
// fim declaracao da variavel "c"
start
read
atoi
storeg 0
read
atoi
storeg 1
pushg 0
pushg 1
add
storeg 2
pushg 2
writei
writeln
stop
