pushi 0
storeg 0
pushi 0
storeg 1
pushi 0
storeg 2
start
pushs "Olá Mundo"
storeg 0
pushi 3
storeg 2
pushi 1
storeg 1
WHILE0:
pushg 1
pushg 2
infeq
jz ENDWHILE1
pushg 0
writei
writeln
pushg 1
pushi 1
add
storeg 1
jump WHILE0
ENDWHILE1:
stop
